.footer {
	text-align: center;
	padding: 50px 0;
	&__social{
		margin-bottom: 25px;
	}
}
.social {
	display: flex;
	justify-content: center;
	align-items: center;
	&__item {
		font-size: 30px;
		margin: 0 18px;
		color: inherit;
		transition: color 0.3s ease 0s;
		@media (min-width: $tablet){
			&:hover{
				color: #ff6464;
			}
		}
	}
}
//====================================================================================================

//====================================================================================================
