//====================================================================================================
.greeting {
	padding: 29px 0px 70px 0px;
	@media (max-width:$pc){
		padding: 0px 0px 70px 0px;
	}
	@media (max-width:$mobile){
		padding: 0px 0px 60px 0px; 
	}

	&__container {
		display: flex;
		@media (max-width:$mobile){
			flex-direction: column-reverse;
			text-align: center; 
		}
	}

	&__content {
		align-items: flex-start;
		padding: 18px 110px 0px 0px;
		flex:1 1 auto;
		*:last-child{
			margin-bottom: 0px;
		}
		@media (max-width: $pc){
			padding: 18px 50px 0px 0px;

		}
		@media (max-width:$mobile){
			padding: 0px 0px 0px 0px;
		}
	}

	&__title { 
		margin-bottom: 25px;
		@media (max-width:$mobile){
			margin: 0px 0px 20px 0px;
		}
	}

	&__text {
		margin-bottom: 30px;
		@media (max-width:$mobile){
			padding: 0px 15px;
			margin: 0px 0px 25px 0px;
		}
	}

	&__btn {
		background-color: #ff6464;
		border-radius: 2px;
		height: 47px;
		font-weight: 500;
		font-size: 20px;
		line-height: math.div(29 ,20 );
		display: inline-flex;
		padding: 0px 20px;
		color:#fff;
		align-items: center;
		text-align: center;
		transition: background-color 0.3s ease 0s;
		margin: 0px 0px 25px 0px;
		@media(min-width: $tablet){
			&:hover {
				background-color: rgb(223, 77, 77);
			}
		}
		&._fw{
			width: 100%;
		}
		@media (max-width:$mobile){
			margin: 0px 0px 20px 0px;
	   }
	}

	&__picture {
		flex: 0 0 243px;
		height: 243px;
		position: relative;
		border-radius: 50%;
		box-shadow: 0px 13px 0px 0px #edf7fa;
		img {
			max-width: 100%;
		}
		@media (max-width:$mobile){
			width: 170px;
			height: 170px;
			margin:0px 0px 40px 0px;
		}
	}
}

//====================================================================================================

.recent-posts {
	background: #edf7fa;
	padding: 25px 0px 30px 0px ;
	
	&__container {
	}

	&__header {
		display: flex;
		margin: 0px 0px 20px 0px;
	}

	&__title {
		padding: 0px 20px 0px 0px;
		flex: 1 1 auto;
	}

	&__view-all {
		flex: 0 0 auto;
		font-size: 16px;
		line-height: 23px;
		color: #00a8cc;
		@media (max-width:$mobile){
			display: none; 
		}
	}

	&__items {
		display: flex;
		margin: 0px -10px;
	}

	&__column {
		flex: 0 1 50%;
		padding: 0px 10px;
	}

	&__item {
	}
}
.recent-post {
	height: 100%;
	background-color: #fff;
	box-shadow: 0px 4px 10px rgba(187,225,250,0.25);
	border-radius: 4px;
	padding: 20px;

	&__title {
		display: inline-block;
		color: $mainColor;
		font-size: 26px;
		font-weight: 700;
		line-height: math.div(36 , 26);
		transition: color 0.3s ease 0s;
		margin-bottom: 17px;
		@media (min-width:$tablet){
			&:hover{
				color:#ff6464;
			}
		}
	}

	&__info {
		margin-bottom: 15px;
		font-size: 18px;
		line-height: math.div(26 , 18);
		span {
			margin: 0px 10px;
		}

	}

	&__text {
	}
}
.text {
}
